* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto",
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background: rgb(255, 253, 245);

  /*width: 100%;
    margin: 0 auto;
    max-width: 1440px;*/
  width: fit-content;
}

/* Head styling */

#zuri-training-head {
  padding: 1.5rem 3.5rem;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: rgb(255, 253, 245);
  z-index: 1;
}

#zuri-training-head .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#zuri-training-head .navbar .menu {
  display: flex;
  gap: 5rem;
}

#zuri-training-head .navbar a {
  font-size: 1.125rem;
  line-height: 1.5rem;
  color: #585757;
  font-weight: 400;
  text-decoration: none;
}

#zuri-training-head .img-text {
  display: flex;
  align-items: center;
}

#zuri-training-head .img-text img {
  width: 4.5rem;
  background-color: hsl(3, 80%, 54%);
  border-radius: 100px;
  margin-left: -40px;
  padding: 10px;
  position: absolute;
  margin-top: -35px;
}

#zuri-training-head .img-text .enroll {
  background: #e7332b;
  border-radius: 71px;
  box-shadow: none;
  color: #fff;
  padding: 10px 32px;
  text-decoration: none;
}

/* Section 1 styling */

.section1-container {
  display: flex;
  justify-content: space-around;
  padding: 13% 5%;
  background-color: rgb(255, 253, 245);
  padding-bottom: 8%;
}

.img1,
.img2 {
  width: 300px;
  height: auto;
  padding-top: 60px;
}

.section1-content {
  text-align: center;
  justify-content: center;
}

.section1-content .section1-paragraph-top {
  color: #e7332b;
  font-size: 20px;
}

.section1-header-top {
  font-size: 50px;
  line-height: 3.5rem;
  margin-top: 1rem;
}

.section1-content .section1-curly-line {
  display: flex;
  justify-content: right;
  margin-bottom: 1.5rem;
}

.section1-content .section1-curly-line img {
  width: 10rem;
}

.section1-paragraph-bottom {
  font-size: 19px;
  padding-bottom: 2.5rem;
  color: #343030;
}

.section1-button {
  border: none;
  background: #e7332b;
  color: #fff;
  border-radius: 25px;
  padding: 10px 25px;
  font-size: 18px;
  cursor: pointer;
}

.section1-curly-arrow {
  display: flex;
  justify-content: right;
  padding-right: 200px;
}

.section1-curly-arrow img {
  width: 20%;
}

.section1-smallface {
  display: flex;
  margin-top: -150px;
  width: 3.5rem;
}

/* Section 2 Styling */

.section2-container {
  display: flex;
  justify-content: space-between;
  padding: 2% 5%;
  background-color: #fffdf5;
  width: 100%;
}

.section2-header {
  font-size: 22px;
  text-align: left;
  width: 33.3%;
}

.section2-img img {
  width: 10rem;
  background-color: #fffdf5;
}

.section2-paragraph {
  text-align: right;
  font-size: 27px;
  width: 33.3%;
}
.section2-paragraph a {
  color: rgb(48, 189, 48);
  font-size: 25px;
}

.hr-div {
  padding: 0px 5%;
}

.hr-1 {
  border: 0.7px solid #514949;
  opacity: 0.2;
}

/* Section 3 Styling */

.section3-container {
  display: flex;
  justify-content: space-around;
  padding: 4% 5%;
  background-color: #fffdf5;
  width: 100%;
}

.section3-content1 {
  width: 60%;
}

.section3-content2 {
  width: 40%;
  text-align: center;
}

.section3-content1 .secion3-imgarrow {
  display: flex;
  justify-content: center;
}

.section3-content1 img {
  width: 7rem;
}

.section3-content1 p {
  color: #e7332b;
  font-size: 22px;
}

.section3-content1 h3 {
  font-size: 40px;
}

.section3-content2 img {
  width: 15rem;
  margin-top: 5rem;
}

/* Section 4 Styling */

.section4-container {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr;
  gap: 1.5rem;
  background-color: #fff4f067;
  padding: 4% 5%;
}

/* Section 4 - Card Stlying 1 */

.section4-cardbox1 {
  background-color: #e7332b;
  padding: 50px 40px;
  color: #fff;
  border-radius: 15px;
  box-shadow: 0 11px 22px rgba(242, 78, 69, 0.154);
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.section4-cardbox1 img {
  float: right;
  margin-right: -42px;
  margin-top: -50px;
  width: 42%;
}

.section4-cardbox1 h2 {
  font-size: 58px;
  font-weight: 700;
  margin-bottom: 20px;
}

.section4-cardbox1 h3 {
  font-size: 35px;
  margin-bottom: 30px;
  font-weight: 400;
}

.section4-cardbox1 p {
  font-size: 20px;
  padding-bottom: 40px;
  margin-bottom: 20px;
}

/* Section 4 - Card Stlying 2 */

.section4-cardbox2 {
  background-color: #ffffff;
  padding: 50px 40px;
  color: rgb(0, 0, 0);
  border-radius: 15px;
  box-shadow: 0 11px 22px rgba(242, 78, 69, 0.154);
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.section4-cardbox2 img {
  float: right;
  margin-right: -42px;
  margin-top: -50px;
  width: 42%;
}

.section4-cardbox2 h2 {
  font-size: 58px;
  font-weight: 700;
  margin-bottom: 20px;
}

.section4-cardbox2 h3 {
  font-size: 35px;
  margin-bottom: 30px;
  font-weight: 400;
}

.section4-cardbox2 p {
  font-size: 20px;
  padding-bottom: 40px;
  margin-bottom: 20px;
}

/* Section 4 - Card Stlying 3 */

.section4-cardbox3 {
  background-color: #ffffff;
  padding: 50px 40px;
  color: rgb(0, 0, 0);
  border-radius: 15px;
  box-shadow: 0 11px 22px rgba(242, 78, 69, 0.154);
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.section4-cardbox3 img {
  float: right;
  margin-right: -42px;
  margin-top: -50px;
  width: 42%;
}

.section4-cardbox3 h2 {
  font-size: 58px;
  font-weight: 700;
  margin-bottom: 20px;
}

.section4-cardbox3 h3 {
  font-size: 35px;
  margin-bottom: 30px;
  font-weight: 400;
}

.section4-cardbox3 p {
  font-size: 20px;
  padding-bottom: 40px;
  margin-bottom: 20px;
}

/* Section 4 - Card Stlying 4 */

.section4-cardbox4 {
  background-color: #ffffff;
  padding: 50px 40px;
  color: rgb(0, 0, 0);
  border-radius: 15px;
  box-shadow: 0 11px 22px rgba(242, 78, 69, 0.154);
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.section4-cardbox4 img {
  float: right;
  margin-right: -42px;
  margin-top: -50px;
  width: 42%;
}

.section4-cardbox4 h2 {
  font-size: 58px;
  font-weight: 700;
  margin-bottom: 20px;
}

.section4-cardbox4 h3 {
  font-size: 35px;
  margin-bottom: 30px;
  font-weight: 400;
}

.section4-cardbox4 p {
  font-size: 20px;
  padding-bottom: 40px;
  margin-bottom: 20px;
}

/* Section 4 - Card Stlying 5 */

.section4-cardbox5 {
  background-color: #ffffff;
  padding: 50px 40px;
  color: rgb(0, 0, 0);
  border-radius: 15px;
  box-shadow: 0 11px 22px rgba(242, 78, 69, 0.154);
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.section4-cardbox5 img {
  float: right;
  margin-right: -42px;
  margin-top: -50px;
  width: 42%;
}

.section4-cardbox5 h2 {
  font-size: 58px;
  font-weight: 700;
  margin-bottom: 20px;
}

.section4-cardbox5 h3 {
  font-size: 35px;
  margin-bottom: 30px;
  font-weight: 400;
}

.section4-cardbox5 p {
  font-size: 20px;
  padding-bottom: 40px;
  margin-bottom: 20px;
}

/* Section 4 - Card Stlying 6 */

.section4-cardbox6 {
  background-color: #ffffff;
  padding: 50px 40px;
  color: rgb(0, 0, 0);
  border-radius: 15px;
  box-shadow: 0 11px 22px rgba(242, 78, 69, 0.154);
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.section4-cardbox6 img {
  float: right;
  margin-right: -42px;
  margin-top: -50px;
  width: 42%;
}

.section4-cardbox6 h2 {
  font-size: 58px;
  font-weight: 700;
  margin-bottom: 20px;
}

.section4-cardbox6 h3 {
  font-size: 35px;
  margin-bottom: 30px;
  font-weight: 400;
}

.section4-cardbox6 p {
  font-size: 20px;
  padding-bottom: 40px;
  margin-bottom: 20px;
}

.section4-cardbox1:hover,
.section4-cardbox2:hover,
.section4-cardbox3:hover,
.section4-cardbox4:hover,
.section4-cardbox5:hover,
.section4-cardbox6:hover {
  transform: translateY(-15px);
}

/* Section 5 Styling  */

.section5-container {
  display: flex;
  background: rgb(231, 51, 43);
  padding: 5% 5%;
  width: 100%;
  color: white;
  padding-bottom: 2%;
}

.section5-content1 {
  width: 60%;
}

.section5-container .section5-content2 img {
  width: 700px;
}

.section5-img-div {
  display: flex;
  justify-content: center;
}

.section5-img-div img {
  width: 5em;
}

.section5-content1 p {
  font-size: 20px;
}

.section5-content1 h3 {
  font-size: 40px;
  margin-bottom: 3rem;
}

.section5-content1 a button {
  text-decoration: none;
  border: none;
  background: #fff;
  color: #e7332b;
  padding: 10px 25px;
  border-radius: 25px;
  font-size: 18px;
  margin-top: 2rem;
  margin-bottom: 3rem;
  cursor: pointer;
}

.section5-content1 a button:hover {
  box-shadow: 0 11px 22px rgba(54, 49, 49, 0.213);
}

.transparent-button-container {
  display: flex;
  gap: 2rem;
}

.transparent-button-content {
  display: flex;
  gap: 0.5em;
  border-radius: 30px;
  margin-bottom: 2rem;
  padding: 15px 15px;
  border-radius: 45px;
  border: 2px solid white;
}

.transparent-button-content img {
  width: 3rem;
}

.transparent-button-content p {
  font-size: 20px;
  padding-top: 0.5rem;
  padding-right: 30px;
}

.blockdot {
  margin-left: -30px;
}

.blockdot img {
  width: 8rem;
}

/* Section 6 Styling */

.section6-container {
  background: rgb(255, 253, 245);
  padding: 2% 5%;
}

.section6-container p {
  color: #e7332b;
  font-size: 20px;
}

.section6-container h3 {
  font-size: 40px;
}

.section6-arrow-div {
  display: flex;
  justify-content: center;
}

.section6-arrow-div img {
  width: 10rem;
}

/* Section 6 Card Styling */

.section6-card-container {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr;
  gap: 1.5rem;
}

.section6-card-content {
  background-color: #fff;
  border-radius: 30px;
  padding: 40px 30px;
  box-shadow: 0 11px 22px rgba(242, 78, 69, 0.154);
}

.section6-card-content h4 {
  font-size: 20px;
  color: #343030;
  margin-bottom: 2rem;
}

.section6-icon {
  display: flex;
  gap: 0.5rem;
}

.small-icon {
  width: 2.5rem;
  height: 2.5rem;
}

.large-icon {
  width: 4.5rem;
  height: 3.5rem;
}

.medium-icon {
  width: 3rem;
  height: 3rem;
}

.bigger-icon {
  height: 3rem;
}

.section6-card-content p {
  color: black;
  font-size: 16px;
  margin-top: 1.5rem;
}

.section6-btn {
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 2rem;
}
.section6-btn a button {
  border: none;
  background: #e7332b;
  color: #fff;
  border-radius: 25px;
  padding: 10px 25px;
  font-size: 18px;
  cursor: pointer;
}

/* Section 7 Styling */

.section7-container {
  background: rgb(255, 253, 245);
  padding: 2% 5%;
}

.section7-container p {
  color: #e7332b;
  font-size: 22px;
  text-align: center;
}

.section7-container h3 {
  font-size: 40px;
  text-align: center;
}

.section7-container img {
  width: 10rem;
}

.section7-img-div {
  display: flex;
  margin-left: 180px;
}

/* FAQ Styling */

.faq-section {
  background: rgb(255, 253, 245);
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.faq-below-content {
  display: flex;
  gap: 1rem;
  justify-content: center;
  padding-bottom: 3rem;
  padding-top: 6rem;
}

.faq-below-content p {
  font-size: 20px;
  color: #343030;
}

.faq-section .faq-btn {
  display: flex;
  background: #e7332b;
  gap: 0.5rem;
  border: none;
  border-radius: 25px;
  padding: 8px 25px;
  cursor: pointer;
  text-decoration: none;
}

.faq-btn p {
  color: #fff;
  font-size: 18px;
}

.accordionContainer {
  max-width: 1200px;
  margin-top: 2rem;
  padding-bottom: 2rem;
  border-bottom: 2px solid rgba(64, 50, 50, 0.406);
  cursor: pointer;
}

#accordion-container2 {
  border-bottom: none;
}

.accordion-wrapper {
  border: 0.5px solid rgba(44, 41, 41, 0.411);
}

.question {
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 19px;
  font-weight: 700;
  color: #343030;
}

.answer {
  padding-left: 30px;
  padding-right: 30px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 1.4s ease;
}

.answer p {
  font-size: 15px;
  padding-top: 1rem;
}

.accordionContainer:active .answer {
  max-height: 300px;
}

.accordionContainer:active .question svg {
  transform: rotate(180deg);
}

svg {
  transition: transform 0.5s ease-in;
}

/* Section 8 Styling */

.section8-container {
  background: rgb(255, 253, 245);
  padding: 4% 5%;
  text-align: center;
}

.section8-img-div1 {
  display: flex;
  margin-left: 180px;
}

.section8-img-div1 img,
.section8-img-div2 img {
  width: 8rem;
}

.section8-img-div2 {
  display: flex;
  justify-content: end;
}

.section8-container p {
  font-size: 24px;
  color: #e7332b;
  margin-top: -90px;
}

.section8-container h3 {
  font-size: 40px;
}

.section8-container .section8-paragraph2 {
  font-size: 20px;
  color: #343030;
  margin: 0px;
  padding-top: 20px;
}

/* Section 9 Styling */
.section9-container {
  background: rgb(255, 253, 245);
  padding: 1% 5%;
}

.section9-card-container {
  display: flex;
  gap: 2.5rem;
}

.section9-card {
  padding: 70px;
  padding-bottom: 30px;
  background-color: #1b1a20;
  width: 100%;
  border-radius: 55px;
  color: #fff;
  box-shadow: 0 11px 22px rgba(242, 78, 69, 0.154);
}

.section9-bottom-img {
  width: 8rem;
  float: right;
  margin-top: -120px;
}

.section9-bottom-img2 {
  width: 12rem;
  float: right;
  margin-top: -120px;
}

.traingle-shape {
  margin-left: -85px;
  float: right;
}

.training-dot-red {
  float: right;
  width: 8rem;
  -ms-transform: rotate(10deg); /* IE 9 */
  transform: rotate(10deg);
}

.section9-card h2 {
  font-size: 36px;
  margin-bottom: 1.5rem;
}

.section9-card p {
  font-size: 17px;
}

.tracks {
  font-size: 16px;
  margin-top: 1.5rem;
}

.tracks ul {
  margin-bottom: 1.5rem;
}

.tracks2 {
  margin-bottom: 1.5rem;
}

.tracks a {
  color: white;
  border-color: white;
}

.tracks img {
  width: 0.9rem;
  cursor: pointer;
}

/* Modal Main */
#modal-wrapper {
  display: none;
}

.modal {
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  overflow: auto;
  width: 100%; /* Very Important because This triggers the event.target section */
  height: 100%; /* Very Important because This triggers the event.target section */
}

#modal-wrapper .modal-container {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 5rem;
  width: 40%;
  background-color: #ffffff;
  border-radius: 10px;
}

#modal-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

#modal-top h2 {
  font-size: 1.3rem;
  letter-spacing: 0.01em;
  line-height: 1.4rem;
  color: #1b1a20;
}

#modal-top p {
  margin-top: 1rem;
  color: #585757;
  font-size: 1.1rem;
  letter-spacing: 0.02em;
  line-height: 1.3rem;
}

#modal-wrapper p {
  margin-bottom: 0.5rem;
}

/* Modal Sample */

#modal-close:hover,
#modal-close:focus {
  color: black;
  fill: currentColor;
  cursor: pointer;
}

.footer-hr {
  display: none;
}

/* Section10 Styling*/

.section10 {
  background: rgb(255, 253, 245);
  padding: 2% 5%;
}
.section10-container {
  background-color: #e7332b;
  text-align: center;
  border-radius: 25px;
  color: #fff;
}

.section10-container p {
  font-size: 20px;
  margin-bottom: 1rem;
}

.section10-container h2 {
  font-size: 55px;
  margin-bottom: 2rem;
}

.section10-container a{
  text-decoration: none;
  background-color: #fff;
  padding: 10px 40px;
  color: #e7332b;
  border-radius: 25px;
}


.section10-bottom-img {
  display: flex;
  justify-content: space-between;
}

.section10-top-img {
  display: flex;
  justify-content: space-around;
}

.At-icon {
  width: 8rem;
  margin-top: 10px;
}

.bottom-circle {
  float: right;
  width: 8rem;
}

.Training-dot-red {
  width: 6rem;
  -ms-transform: rotate(20deg); /* IE 9 */
  transform: rotate(20deg);
  margin-top: 100px;
  margin-bottom: 30px;
}

.top-circle,
.dot-block {
  width: 8rem;
}

/* Footer Styling*/

#zuri-training-footer {
  padding: 4rem 4.5rem;
  color: #1b1a20;
}

#zuri-training-footer .footer-training-top,
#zuri-training-footer .footer-training-bottom {
  display: flex;
  justify-content: space-between;
}

#zuri-training-footer .footer-training-top .training-footer-social img {
  margin-left: 0.3rem;
}

#zuri-training-footer .footer-training-bottom {
  margin: 2rem 0 1rem;
}

#zuri-training-footer .footer-training-bottom .training-footer-policy {
  display: flex;
  gap: 1rem;
}

#zuri-training-footer .footer-training-bottom .training-footer-policy a {
  text-decoration: none;
  color: #1b1a20;
}

.footer-training-hr {
  display: none;
}

/* Media Query for small Desktop */

@media screen and (min-width: 1001px) and (max-width: 1180px) {
  #zuri-training-head .navbar-logo img {
    width: 90%;
  }

  #zuri-training-head .navbar .menu {
    gap: 1.5rem;
  }
}

@media screen and (min-width: 900px) and (max-width: 1000px) {
  #zuri-training-head .navbar .menu {
    display: none;
  }
  #zuri-training-head .navbar-logo img {
    width: 90%;
  }
}

/* Media Queries for Mobile */
@media screen and (min-width: 350px) and (max-width: 899px) {
  #zuri-training-head {
    padding: 1.5rem;
  }

  #zuri-training-head .img-text img {
    width: 3.5rem;
    margin-left: -35px;
    padding: 10px;
    margin-top: -27px;
  }

  #zuri-training-head .navbar .menu {
    display: none;
  }

  #zuri-training-head .navbar .navbar-logo {
    width: 55%;
  }

  #zuri-training-head .navbar-logo img {
    width: 80%;
  }

  #zuri-training-head .img-text .enroll {
    padding: 10px 20px;
    font-size: 0.9rem;
  }
}
